<%- include("header") -%>

<div class="box" id="heading">
    <h1> Task List </h1>
</div>

<div class="box">

<form>
    <div class="item">
    <a href="./new"><p>New Task</p></a>
    </div>
    <div class="item">
    <a href="./inprogress"><p>Inprogress Task</p></a>
    </div>
    <div class="item">
    <a href="./complete"><p>Completed Task</p></a>
    </div>
    <div class="item">
    <a href="./archive"><p>Archive Task</p></a>
    </div>
  </form>
</div>


<%- include("footer") -%>